
@{
    ViewBag.Title = "RecoverPassword";
}
<div class="container">
    @Html.AntiForgeryToken()
    @using (Html.BeginForm("RecoverPassword", "Acount", FormMethod.Post))
    {
        @Html.TextBox("email", null, new {@class=})
    }
</div>

    
